html {
    font-family: monospace;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main, section, div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
}

main {
    flex-basis: 100%;
}

main img {
    max-height: 40vh;
}

section {
    justify-content: space-evenly;
    flex-basis: 100%;
}

footer {
    flex-basis: 10%;
    font-size: 18px;
}

article {
    width: 80%;
}

label, button {
    margin-top: 10px;
}

button {
    font-family: monospace;
}
